.btn {
  cursor: pointer;
  padding: 0.7rem 0.85rem;
  font-weight: bold;
}
.btn-primary {
  color: rgba(0,0,0,0.75) !important;
  background-color: map-get($colors, cyan);
  border-color: map-get($colors, cyan);
}
.btn-primary:hover {
  color: rgba(0,0,0,0.75) !important;
  background-color: map-get($colors, green);
  border-color: map-get($colors, green);
  transition: 0.2s;
}

.btn:disabled, .btn:disabled:hover {
  cursor: not-allowed;
  background-color: map-get($colors, lightGrey);
  border-color: map-get($colors, lightGrey);
}
