body {
  font-family: 'Fira Mono', monospace;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Fira Sans', sans-serif;
  color: #fff;
  font-weight: 300;
}
p {
  color: #fff;
}
p strong {
  font-weight: 500;
}
