body {
  background: #ffffff;
}
li {
    padding-top: 10px;
    padding-bottom: 10px;
}
.figure {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}
.lead {
    padding-top: 30px;
}
figcaption {
}
